/* Helpers */
.container {
    width: 1200px;
    margin: 0 auto;
}

.bgMain {
    background-color: #0A192F;
}

.h-650 {
    height: 650px;
}

.alignCenter {
    align-items: center;
}

.justifyConter {
    justify-content: center;
}

/* Grid System */
.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33333333333333%;
}

/* Servives */
.services {
    background-color: #0A192F;
    padding: 100px 0;
    color: #fff;
}

.common {
    width: 33.33333333333333%;
    margin: 20px auto;
    text-align: center;
}

.heading {
    margin-bottom: 20px;
    font-weight: 500;
    color: #00FF7F;
    font-size: 16px;
}

.mainHeader {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
}

.mainContent {
    font-size: 16px;
    color: #dfdfdf;
}

.commonBorder {
    background: #00FF7F;
    height: 3px;
    width: 100px;
    margin: 30px auto;
}

.services__box {
    height: 250px;
    padding: 40px;
    background: #23263a;
    margin: 20px;
    transition: all 0.5s linear;
}

.services__box:hover {
    background: #ff4a57;
}

.services__box img {
    height: 250px;
}

.commonIcons {
    font-size: 40px;
    color: #ff4a57;
    margin-bottom: 15px;
}

.services__box:hover .commonIcons {
    color: #fff;
}

.services__box-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services__box-p {
    font-size: 14px;
    color: #dfdfdf;
}

.card-container {
    width: 350px;
    height: 480px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px;
    transition: 0.3s;
    animation: ease-in;
    margin-bottom: 20px;
    background-color: #23263A;
}

.card-container:hover {
    box-shadow: 0px 0px 10px 0px;
    background: #23263a;
}

.image-container img {
    overflow: hidden;
    width: 350px;
    height: 200px;
}

.card-content {
    margin: 1.2rem;
    margin-top: 1.5rem;
}

.card-title h3 {
    margin-left: 1.2rem;
    margin-top: 0.5rem;
}

.card-title h3 {
    font-size: 1.1rem;
}

.card-body p {
    font-size: 0.8rem;
    opacity: 0.5;
    margin-bottom: 0;
}


.btn-btn {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.btn-btn button {
    width: 5.5rem;
    height: 2.3rem;
    padding: 0.3rem;
    background: #00FF7F;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    opacity: 0.8;
    cursor: pointer;
}

.btn-btn button:hover {
    background: linear-gradient(235deg, #370156, deeppink);
    color: #fff !important;
    transform: scale(1.1);
    cursor: pointer;
}

.btn-btn a {
    color: #0A192F;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.7rem;
}