/* Helpers */
.container {
    width: 1200px;
    margin: 0 auto;
}

.h-650 {
    height: 650px;
}

.alignCenter {
    align-items: center;
}

.justifyConter {
    justify-content: center;
}

/* Grid System */
.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.col-6 {
    width: 50%;
}

.common {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.mainHeader {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.mainContent {
    font-size: 16px;
    line-height: 30px;
    color: #CBFFE2;
    text-align: center;
    opacity: 0.6;
}

.commonBorder {
    background: #00FF7F;
    height: 3px;
    width: 100px;
    margin: 30px auto;
}


.about {
    width: 100%;
    background-color: #0A192F;
    padding: 100px 0;
}

.about__img {
    padding: 30px;
}

.about__img img {
    width: 300px;
    height: 400px;
}

.about__info {
    color: #CBFFE2;
    opacity: 0.6;
}

.about__info h1 {
    margin-bottom: 30px;
}

.about__info-p1 {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
}

.about__info-p2 {
    font-size: 16px;
    line-height: 30px;
}

.info__education {
    margin-top: 20px;
    line-height: 30px;
}

.info__education strong {
    color: #00FF7F;
}

.info__education p {
    margin-top: 3px;
}

.info__education .col-6 {
    margin: 10px 0;
}


@media (max-width: 765px) {
    .container {
        width: 100%;
        padding: 0 50px;
    }

    .col-6 {
        width: 100%;
    }

    .col-3 {
        width: 100%;
    }

    .col-4 {
        width: 100%;
    }

    .common {
        width: 100%;
    }

    .h-650 {
        height: auto;
    }
}