/* Helpers */
.container {
    width: 1200px;
    margin: 0 auto;
}

.h-650 {
    height: 650px;
}

.alignCenter {
    align-items: center;
}

.justifyConter {
    justify-content: center;
}

/* Grid System */
.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.col-6 {
    width: 50%;
}

.contact {
    padding: 15px 0;
    background-color: #0A192F;
}

.contactSection-logo {
    text-align: center;
    margin-bottom: 20px;
}

.contactSection-logo img {
    width: 130px;
}

.contactSection-text p {
    color: #CBFFE2;
    opacity: 0.6;
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
}

.contact_ul {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.contact_ul a {
    width: 50px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    color: #00FF7F !important;
}

.contact_ul a:hover {
    cursor: pointer;
    color: #17d1ac !important;
}